<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    {{info}}
    <!--v-model双向绑定，变量会影响页面同时页面的改变也会影响变量-->
    <!--双向绑定实例-->
    <input type="text" v-model="info">
    <hr>
    <input type="text" placeholder="请输入用户名" v-model="user.username"><br>
    <input type="password" placeholder="请输入密码" v-model="user.password"><br>
    <input type="button" value="登录">
</div>
</body>
<!--引入CDN服务器上面的Vue.js框架文件-->
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script>
    let v=new Vue({
        el:"body>div",
        data:{
            info:"双向绑定",
            user:{username:"",
                password:""},
        }
    })
</script>
</html>